stages:
  - notify

notify_art_update:
  stage: notify
  tags:
    - windows
  variables:
    GIT_STRATEGY: none
    PYTHONIOENCODING: "utf-8"
  script:
    - Write-Host "=== 开始美术资源变动检测 ==="
    - Set-Location C:\GitLab-Runner
    - $env:CI_PROJECT_PATH = $env:CI_PROJECT_PATH
    - $env:CI_COMMIT_MESSAGE = $env:CI_COMMIT_MESSAGE
    - $env:GITLAB_USER_NAME = $env:GITLAB_USER_NAME
    - $env:CI_COMMIT_SHA = $env:CI_COMMIT_SHA
    - $env:CI_PROJECT_URL = $env:CI_PROJECT_URL
    - C:\Users\Administrator\AppData\Local\Programs\Python\Python314\python.exe notify.py
  only:
    changes:
      - "**/*"
  allow_failure: true
  retry: 1
