
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

# Trae IDE Memory
# Uncomment the line below if you WANT to sync AI memory across devices (Not Recommended for public repos)
!.trae/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/