stages:
  - notify

notify_art_update:
  stage: notify
  tags:
    - windows
  variables:
    PYTHONIOENCODING: "utf-8"
  script:
    - Write-Host "=== 开始美术资源变动检测 ==="
    - python notify.py
  only:
    changes:
      - "**/*"
  allow_failure: true
  retry: 1
